{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
  </div>
  <input type="text" name="username" placeholder="Username..." class="form-control">
  <br>
    <input type="password" name="password" placeholder="Password..." class="form-control" >
    <br>
     <input class="btn login_btn" type="submit" value="Login">
     </div>
     {% if messages %}
     <ul class="messages">
         {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
     </ul>
     {% endif %}
  </form>
 
            <br>
            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
            <br>
            <a href='{% url 'home' %}'>HOME</a>
{% endblock %}
